.photo-cards__bucket {
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/delete.svg);
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease-in;
}

.photo-cards__bucket:hover {
    opacity: 0.6;
}