.profile-info {
	display: grid;
	grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
	align-items: center;
	box-sizing: border-box;
	padding: 0;
	margin: 0 0 0 30px;
	gap: 9px 18px;
}

@media screen and (max-width: 1041px) {
    .profile-info {
		display: flex;
		flex-wrap: wrap;
		gap: 14px 10px;
		justify-content: center;
		margin: 0 auto;
    }
}



