.profile-info__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    padding: 0;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
}



@media screen and (max-width: 1041px){
    .profile-info__description {
        font-size: 14px;
        line-height: 17px;
        max-width: 100%;
        margin-left: 16px;
        margin-bottom: 33px;
    }
}