.popup__error {
  margin: 0;
	padding: 0;
	margin-top: 5px;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	max-width: 358px;
	min-height: 33px;
  color: #FF0000;
  display: flex;
}

.popup__error:last-of-type {
  margin-bottom: 0px;
}
