@import url(../src/vendor/normalize.css);
@import url(../src/vendor/fonts/fonts.css);
@import url(../src/blocks/page/page.css);
@import url(../src/blocks/page/__header/page__header.css);
@import url(../src/blocks/header/header.css);
@import url(../src/blocks/header/__logo/header__logo.css);
@import url(../src/blocks/header/__link/header__link.css);
@import url(../src/blocks/header/__email/header__email.css);
@import url(../src/blocks/header/__user/header__user.css);
@import url(../src/blocks/content/content.css);
@import url(../src/blocks/content/__profile/content__profile.css);
@import url(../src/blocks/profile/profile.css);
@import url(../src/blocks/profile/__avatar/profile__avatar.css);
@import url(../src/blocks/profile-info/profile-info.css);
@import url(../src/blocks/profile-info/__description/profile-info__description.css);
@import url(../src/blocks/profile-info/__edit-btn/profile-info__edit-btn.css);
@import url(../src/blocks/profile-info/__fullname/profile-info__fullname.css);
@import url(../src/blocks/profile-info/__container/profile-info__container.css);
@import url(../src/blocks/profile/__add-btn/profile__add-btn.css);
@import url(../src/blocks/photo-cards/photo-cards.css);
@import url(../src/blocks/photo-cards/__img/photo-cards__img.css);
@import url(../src/blocks/photo-cards/__item/photo-cards__item.css);
@import url(../src/blocks/photo-cards/__like/photo-cards__like.css);
@import url(../src/blocks/photo-cards/__like/_active/photo-cards__like_active.css);
@import url(../src/blocks/photo-cards/__text-container/photo-cards__text-container.css);
@import url(../src/blocks/photo-cards/__title/photo-cards__title.css);
@import url(../src/blocks/photo-cards/__bucket/photo-cards__bucket.css);
@import url(../src/blocks/footer/footer.css);
@import url(../src/blocks/footer/__copyright/footer__copyright.css);
@import url(../src/blocks/page/__footer/page__footer.css);
@import url(../src/blocks/popup/popup.css);
@import url(../src/blocks/popup/__container/popup__container.css);
@import url(../src/blocks/popup/__close-btn/popup__close-btn.css);
@import url(../src/blocks/popup/__input/popup__input.css);
@import url(../src/blocks/popup/__save-btn/popup__save-btn.css);
@import url(../src/blocks/popup/_type/_image/popup_type_image.css);
@import url(../src/blocks/popup/__title/popup__title.css);
@import url(../src/blocks/popup/_open/popup_open.css);
@import url(../src/blocks/popup/__img/popup__img.css);
@import url(../src/blocks/popup/__text/popup__text.css);
@import url(../src/blocks/popup/__container/_img/popup__container_img.css);
@import url(../src/blocks/popup/__error/popup__error.css);
@import url(../src/blocks/popup/__input/_error/popup__input_error.css);
@import url(../src/blocks/popup/__save-btn/_error/popup__save-btn_error.css);
@import url(../src/blocks/popup/__label/popup__label.css);
@import url(../src/blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(../src/blocks/profile/__figure/profile__figure.css);
@import url(../src/blocks/profile/__icon/profile__icon.css);
@import url(../src/blocks/photo-cards/__like-count/photo-card__like-count.css);
@import url(../src/blocks/auth/auth.css);
@import url(../src/blocks/auth/__button/auth__button.css);
@import url(../src/blocks/auth/__input/auth__input.css);
@import url(../src/blocks/auth/__title/auth__title.css);
@import url(../src/blocks/auth/__text/auth__text.css);
@import url(../src/blocks/auth/__link/auth__link.css);
@import url(../src/blocks/popup/__img-info/popup__img-info.css);
@import url(../src/blocks/popup/__title-info/popup__title-info.css);

