.popup__close-btn {
    background: transparent;
    border: none;
    background-image: url(../../../images/Close-Icon.svg);
    background-size: cover;
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: -40px;
    transition: opacity 0.3s ease-in;
}

.popup__close-btn:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1279px) {
    .popup__close-btn {
        width: 20px;
        height: 20px;
        right: 0;
    }
}